<!DOCTYPE html>
<html>
<head>
    <title>View Clients Dashboard</title>
<body>
    <h1>View Clients</h1>
    <p><a href="/admin">Back to Admin Dashboard</a></p>
    <p><a href="/add_client">Add Client</a></p>

    <!--To seperate sections with horizontal lines-->
    <hr>
    {% if clients %}
        <table border="1" cellpadding="10">
            <tr>
                <th>User_ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Username</th>
            </tr>
            {% for client in clients %}
            <tr>
                <td>{{ client.user_id }}</td>
                <td>{{ client.first_name }}</td>
                <td>{{ client.last_name }}</td>
                <td>{{ client.email }}</td>
                <td>{{ client.username }}</td>
            </tr>
            {% else %}
            <tr>
                <td colspan="5" align="center">No clients found.</td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>No clients available.</p>
    {% endif %}
</body>
</html>