<!DOCTYPE html>
<html>
<head>
    <title>View Providers Dashboard</title>
<body>
    <h1>View Providers</h1>
    <p><a href="/admin">Back to Admin Dashboard</a></p>
    <p><a href="/add_provider">Add Provider</a></p>

    <!--To seperate sections with horizontal lines-->
    <hr>
    {% if providers %}
        <table border="1" cellpadding="10">
            <tr>
                <th>User_ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Username</th>
                <th>Business Name</th>
                <th>Speciality</th>
                <th>Location</th>
               

            </tr>
            {% for provider in providers %}
            <tr>
                <td>{{ provider.user_id }}</td>
                <td>{{ provider.user.first_name }}</td>
                <td>{{ provider.user.last_name }}</td>
                <td>{{ provider.user.email }}</td>
                <td>{{ provider.user.username }}</td>
                <td>{{ provider.business_name }}</td>
                <td>{{ provider.speciality }}</td>
                <td>{{ provider.location }}</td>
                
            </tr>
            {% else %}
            <tr>
                <td colspan="8" align="center">No providers found.</td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>No providers available.</p>
    {% endif %}
</body>
</html>